

body{
    width: 600px;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
}

.outline{
    border: 1px solid black;
}

.inner{
    width: 100%;
}

.t0{
    text-align: center;
}

.t0 td{
    height: 30px;
    border: 1px solid black ;
}

.t0 td:first-child{
    width: 496px;
}

.t0 td:nth-child(2){
    width: auto;
}


.t1 {
    width: 100%;
}

.t1 tr:first-child{
    border-bottom: 1px dashed gray;
}

#name{
    text-align: justify;
}



.t2{
    margin-bottom: 20px;    
}

.t2 td{    
    border: 1px solid black;
    text-align: left;
}

.t2 tr td:first-child{
    width: 450px;
}


.t2 tr:nth-child(even) td{
    height: 60px;
    text-align: center;
    border-top: none;
}

.t2 tr:nth-child(odd) td{
    border-bottom: 1px dashed gray;
}


.t3{
    border-collapse : collapse;
}

.t3 td{    
    border: 1px solid black;
    text-align: center;
}

.t3 tr td:nth-child(1){
    width: 60px;
    border-right: 1px dashed rgb(143, 142, 142);
}


.t3 tr td:nth-child(2){
    width: 100px;
    border-left: none;
}

.head{
    display: flex;
    justify-content: space-between;
}

.head_left .title{
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.head_left .title p{
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 0;
}

.head_right{
    width: 100%;
}

.head_right img{
    display: block;
    width: 100%;
    margin-top: 60px;
}

